.elementor-124
  .elementor-element.elementor-element-140d204
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-140d204:not(.elementor-motion-effects-element-type-background),
.elementor-124
  .elementor-element.elementor-element-140d204
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #12112e99;
}
.elementor-124 .elementor-element.elementor-element-140d204 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-124
  .elementor-element.elementor-element-140d204
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-124
  .elementor-element.elementor-element-c174d60.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-c174d60.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-db67b1b
  .hfe-site-logo-container,
.elementor-124
  .elementor-element.elementor-element-db67b1b
  .hfe-caption-width
  figcaption {
  text-align: center;
}
.elementor-124
  .elementor-element.elementor-element-db67b1b
  .hfe-site-logo
  .hfe-site-logo-container
  img {
  width: 120px;
}
.elementor-124
  .elementor-element.elementor-element-db67b1b
  .hfe-site-logo-container
  .hfe-site-logo-img {
  border-style: none;
}
.elementor-124
  .elementor-element.elementor-element-db67b1b
  .widget-image-caption {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .hfe-nav-menu__toggle {
  margin: 0 auto;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
body:not(.rtl)
  .elementor-124
  .elementor-element.elementor-element-ac4afaa
  .hfe-nav-menu__layout-horizontal
  .hfe-nav-menu
  > li.menu-item:not(:last-child) {
  margin-right: 0px;
}
body.rtl
  .elementor-124
  .elementor-element.elementor-element-ac4afaa
  .hfe-nav-menu__layout-horizontal
  .hfe-nav-menu
  > li.menu-item:not(:last-child) {
  margin-left: 0px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav:not(.hfe-nav-menu__layout-horizontal)
  .hfe-nav-menu
  > li.menu-item:not(:last-child) {
  margin-bottom: 0px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item
  a.hfe-menu-item:hover,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item
  a.hfe-menu-item:focus {
  color: var(--e-global-color-126c2ab);
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: var(--e-global-color-cfbbf2f);
  background-color: var(--e-global-color-text);
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .elementor-menu-toggle,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  color: #000000;
}
.elementor-124 .elementor-element.elementor-element-ac4afaa .sub-menu,
.elementor-124 .elementor-element.elementor-element-ac4afaa nav.hfe-dropdown,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown-expandible,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #fff;
}
.elementor-124 .elementor-element.elementor-element-ac4afaa ul.sub-menu {
  width: 220px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  div.hfe-nav-menu-icon {
  color: var(--e-global-color-text);
}
.elementor-124
  .elementor-element.elementor-element-ac4afaa
  div.hfe-nav-menu-icon
  svg {
  fill: var(--e-global-color-text);
}
.elementor-124 .elementor-element.elementor-element-ac4afaa .hfe-nav-menu-icon {
  border-width: 0px;
  padding: 0.35em;
}
.elementor-bc-flex-widget
  .elementor-124
  .elementor-element.elementor-element-5edb832.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-5edb832.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-124 .elementor-element.elementor-element-44546dd {
  --grid-template-columns: repeat(4, auto);
  --icon-size: 20px;
  --grid-row-gap: 0px;
}
.elementor-124
  .elementor-element.elementor-element-44546dd
  .elementor-widget-container {
  text-align: center;
}
.elementor-124
  .elementor-element.elementor-element-44546dd
  .elementor-social-icon {
  background-color: #ffffff;
}
.elementor-124
  .elementor-element.elementor-element-44546dd
  .elementor-social-icon
  i {
  color: #000000ad;
}
.elementor-124
  .elementor-element.elementor-element-44546dd
  .elementor-social-icon
  svg {
  fill: #000000ad;
}
.elementor-bc-flex-widget
  .elementor-124
  .elementor-element.elementor-element-0999d3b.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-0999d3b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-124 .elementor-element.elementor-element-7d6a3da .elementor-button {
  font-family: "Anton", Sans-serif;
  font-size: 24px;
  font-style: italic;
  fill: #ffc300;
  color: #ffc300;
  background-color: transparent;
  background-image: linear-gradient(180deg, #00123300 0%, #f2295b00 0%);
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4);
  padding: 10px 20px 10px 20px;
}
.elementor-124
  .elementor-element.elementor-element-f4b0ebc
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-f4b0ebc:not(.elementor-motion-effects-element-type-background),
.elementor-124
  .elementor-element.elementor-element-f4b0ebc
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #12112e99;
}
.elementor-124 .elementor-element.elementor-element-f4b0ebc {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-124
  .elementor-element.elementor-element-f4b0ebc
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-124
  .elementor-element.elementor-element-90d56ff.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-90d56ff.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-83ce05c
  .hfe-site-logo-container,
.elementor-124
  .elementor-element.elementor-element-83ce05c
  .hfe-caption-width
  figcaption {
  text-align: center;
}
.elementor-124
  .elementor-element.elementor-element-83ce05c
  .hfe-site-logo
  .hfe-site-logo-container
  img {
  width: 120px;
}
.elementor-124
  .elementor-element.elementor-element-83ce05c
  .hfe-site-logo-container
  .hfe-site-logo-img {
  border-style: none;
}
.elementor-124
  .elementor-element.elementor-element-83ce05c
  .widget-image-caption {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-nav-menu__toggle,
.elementor-124 .elementor-element.elementor-element-bbcbf91 .hfe-nav-menu-icon {
  margin: 0 auto;
}
.elementor-124 .elementor-element.elementor-element-bbcbf91 li.menu-item a {
  justify-content: space-between;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  li
  .elementor-button-wrapper {
  text-align: space-between;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91.hfe-menu-item-flex-end
  li
  .elementor-button-wrapper {
  text-align: right;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-flyout-wrapper
  .hfe-side {
  width: 300px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-flyout-open.left {
  left: -300px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-flyout-open.right {
  right: -300px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-flyout-content {
  padding: 30px;
  background-color: var(--e-global-color-cfbbf2f);
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
body:not(.rtl)
  .elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-nav-menu__layout-horizontal
  .hfe-nav-menu
  > li.menu-item:not(:last-child) {
  margin-right: 0px;
}
body.rtl
  .elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-nav-menu__layout-horizontal
  .hfe-nav-menu
  > li.menu-item:not(:last-child) {
  margin-left: 0px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav:not(.hfe-nav-menu__layout-horizontal)
  .hfe-nav-menu
  > li.menu-item:not(:last-child) {
  margin-bottom: 0px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item
  a.hfe-menu-item:hover,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item
  a.hfe-menu-item:focus {
  color: var(--e-global-color-126c2ab);
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: var(--e-global-color-126c2ab);
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .elementor-menu-toggle,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-124 .elementor-element.elementor-element-bbcbf91 .sub-menu,
.elementor-124 .elementor-element.elementor-element-bbcbf91 nav.hfe-dropdown,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown-expandible,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: var(--e-global-color-cfbbf2f);
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .elementor-menu-toggle:hover,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  li
  a.hfe-menu-item:hover,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item:hover,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item:hover,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item:hover {
  color: var(--e-global-color-126c2ab);
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .sub-menu
  .menu-item.current-menu-item
  a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  .menu-item.current-menu-ancestor
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  .sub-menu
  .menu-item.current-menu-item
  a.hfe-sub-menu-item.hfe-sub-menu-item-active {
  color: var(--e-global-color-126c2ab);
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .sub-menu
  .menu-item.current-menu-item
  a.hfe-sub-menu-item.hfe-sub-menu-item-active,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  .menu-item.current-menu-ancestor
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  .sub-menu
  .menu-item.current-menu-item
  a.hfe-sub-menu-item.hfe-sub-menu-item-active {
  background-color: var(--e-global-color-cfbbf2f);
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  div.hfe-nav-menu-icon {
  color: var(--e-global-color-text);
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  div.hfe-nav-menu-icon
  svg {
  fill: var(--e-global-color-text);
}
.elementor-124 .elementor-element.elementor-element-bbcbf91 .hfe-nav-menu-icon {
  border-width: 0px;
  padding: 0.35em;
}
.elementor-124 .elementor-element.elementor-element-bbcbf91 .hfe-flyout-close {
  color: #7a7a7a;
}
.elementor-124
  .elementor-element.elementor-element-bbcbf91
  .hfe-flyout-close
  svg {
  fill: #7a7a7a;
}
.elementor-bc-flex-widget
  .elementor-124
  .elementor-element.elementor-element-6f2408c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-6f2408c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-124 .elementor-element.elementor-element-bd1da6d {
  --grid-template-columns: repeat(4, auto);
  --icon-size: 20px;
  --grid-row-gap: 0px;
}
.elementor-124
  .elementor-element.elementor-element-bd1da6d
  .elementor-widget-container {
  text-align: center;
}
.elementor-124
  .elementor-element.elementor-element-bd1da6d
  .elementor-social-icon {
  background-color: #ffffff;
}
.elementor-124
  .elementor-element.elementor-element-bd1da6d
  .elementor-social-icon
  i {
  color: #000000ad;
}
.elementor-124
  .elementor-element.elementor-element-bd1da6d
  .elementor-social-icon
  svg {
  fill: #000000ad;
}
.elementor-bc-flex-widget
  .elementor-124
  .elementor-element.elementor-element-014841a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-124
  .elementor-element.elementor-element-014841a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-124 .elementor-element.elementor-element-0abfdd6 .elementor-button {
  font-family: "Anton", Sans-serif;
  font-size: 24px;
  font-style: italic;
  fill: #ffc300;
  color: #ffc300;
  background-color: transparent;
  background-image: linear-gradient(180deg, #00123300 0%, #f2295b00 0%);
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.4);
  padding: 10px 20px 10px 20px;
}
@media (max-width: 1024px) {
  .elementor-124
    .elementor-element.elementor-element-db67b1b
    .hfe-site-logo
    .hfe-site-logo-container
    img {
    width: 80px;
  }
  body:not(.rtl)
    .elementor-124
    .elementor-element.elementor-element-ac4afaa.hfe-nav-menu__breakpoint-tablet
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body
    .elementor-124
    .elementor-element.elementor-element-ac4afaa
    nav.hfe-nav-menu__layout-vertical
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .elementor-124 .elementor-element.elementor-element-ac4afaa ul.sub-menu {
    width: 0px;
  }
  .elementor-124
    .elementor-element.elementor-element-83ce05c
    .hfe-site-logo
    .hfe-site-logo-container
    img {
    width: 100px;
  }
  .elementor-124 .elementor-element.elementor-element-bbcbf91 li.menu-item a {
    justify-content: center;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91
    li
    .elementor-button-wrapper {
    text-align: center;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91.hfe-menu-item-flex-end
    li
    .elementor-button-wrapper {
    text-align: right;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91
    .hfe-flyout-wrapper
    .hfe-side {
    width: 300px;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91
    .hfe-flyout-open.left {
    left: -300px;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91
    .hfe-flyout-open.right {
    right: -300px;
  }
  body:not(.rtl)
    .elementor-124
    .elementor-element.elementor-element-bbcbf91.hfe-nav-menu__breakpoint-tablet
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body
    .elementor-124
    .elementor-element.elementor-element-bbcbf91
    nav.hfe-nav-menu__layout-vertical
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .elementor-124 .elementor-element.elementor-element-c174d60 {
    width: 15%;
  }
  .elementor-124 .elementor-element.elementor-element-fa1dd4a {
    width: 50%;
  }
  .elementor-124 .elementor-element.elementor-element-5edb832 {
    width: 20%;
  }
  .elementor-124 .elementor-element.elementor-element-0999d3b {
    width: 15%;
  }
  .elementor-124 .elementor-element.elementor-element-90d56ff {
    width: 15%;
  }
  .elementor-124 .elementor-element.elementor-element-b6ddf14 {
    width: 50%;
  }
  .elementor-124 .elementor-element.elementor-element-6f2408c {
    width: 20%;
  }
  .elementor-124 .elementor-element.elementor-element-014841a {
    width: 15%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-124 .elementor-element.elementor-element-c174d60 {
    width: 25%;
  }
  .elementor-124 .elementor-element.elementor-element-fa1dd4a {
    width: 25%;
  }
  .elementor-124 .elementor-element.elementor-element-0999d3b {
    width: 50%;
  }
  .elementor-124 .elementor-element.elementor-element-90d56ff {
    width: 25%;
  }
  .elementor-124 .elementor-element.elementor-element-b6ddf14 {
    width: 25%;
  }
  .elementor-124 .elementor-element.elementor-element-014841a {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .elementor-124 .elementor-element.elementor-element-c174d60 {
    width: 25%;
  }
  .elementor-bc-flex-widget
    .elementor-124
    .elementor-element.elementor-element-c174d60.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-c174d60.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-db67b1b
    .hfe-site-logo
    .hfe-site-logo-container
    img {
    width: 80px;
  }
  .elementor-124
    .elementor-element.elementor-element-db67b1b
    > .elementor-widget-container {
    margin: 0px 0px -10px 0px;
  }
  .elementor-124 .elementor-element.elementor-element-fa1dd4a {
    width: 25%;
  }
  body:not(.rtl)
    .elementor-124
    .elementor-element.elementor-element-ac4afaa.hfe-nav-menu__breakpoint-mobile
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body
    .elementor-124
    .elementor-element.elementor-element-ac4afaa
    nav.hfe-nav-menu__layout-vertical
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .elementor-124 .elementor-element.elementor-element-5edb832 {
    width: 25%;
  }
  .elementor-bc-flex-widget
    .elementor-124
    .elementor-element.elementor-element-5edb832.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-5edb832.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-124 .elementor-element.elementor-element-0999d3b {
    width: 50%;
  }
  .elementor-bc-flex-widget
    .elementor-124
    .elementor-element.elementor-element-0999d3b.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-0999d3b.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-7d6a3da
    .elementor-button {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
  }
  .elementor-124 .elementor-element.elementor-element-90d56ff {
    width: 25%;
  }
  .elementor-bc-flex-widget
    .elementor-124
    .elementor-element.elementor-element-90d56ff.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-90d56ff.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-83ce05c
    .hfe-site-logo
    .hfe-site-logo-container
    img {
    width: 80px;
  }
  .elementor-124
    .elementor-element.elementor-element-83ce05c
    > .elementor-widget-container {
    margin: 0px 0px -10px 0px;
  }
  .elementor-124 .elementor-element.elementor-element-b6ddf14 {
    width: 25%;
  }
  .elementor-124 .elementor-element.elementor-element-bbcbf91 li.menu-item a {
    justify-content: center;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91
    li
    .elementor-button-wrapper {
    text-align: center;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91.hfe-menu-item-flex-end
    li
    .elementor-button-wrapper {
    text-align: right;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91
    .hfe-flyout-wrapper
    .hfe-side {
    width: 250px;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91
    .hfe-flyout-open.left {
    left: -250px;
  }
  .elementor-124
    .elementor-element.elementor-element-bbcbf91
    .hfe-flyout-open.right {
    right: -250px;
  }
  body:not(.rtl)
    .elementor-124
    .elementor-element.elementor-element-bbcbf91.hfe-nav-menu__breakpoint-mobile
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body
    .elementor-124
    .elementor-element.elementor-element-bbcbf91
    nav.hfe-nav-menu__layout-vertical
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .elementor-124 .elementor-element.elementor-element-6f2408c {
    width: 25%;
  }
  .elementor-bc-flex-widget
    .elementor-124
    .elementor-element.elementor-element-6f2408c.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-6f2408c.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-124 .elementor-element.elementor-element-014841a {
    width: 50%;
  }
  .elementor-bc-flex-widget
    .elementor-124
    .elementor-element.elementor-element-014841a.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-014841a.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-124
    .elementor-element.elementor-element-0abfdd6
    .elementor-button {
    font-size: 20px;
    padding: 10px 20px 10px 20px;
  }
}
